.container {
    width: auto;
    height: 100vh;
    background-image: url("./video/Circuit.gif");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    color: #cccccc;
    
    
}