body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #a9a9a9 ;
  font-family: 'Libre Bodoni', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: 1s;
  /* color: #FFF; */
}

code {
  font-family: 'Libre Bodoni', serif;
  
}
